Repository z88dk/z88dk, pull requests merged in 2021-04, with the labels that each got.

#1747 (sccz80) Remove (some) redundant loads + other opts
  lib/arch/rabbit/rabbit_rules.1
  lib/z80n_rules.1
  lib/z80n_rules.2
  lib/z80rules.0
  lib/z80rules.1
  lib/z80rules.2
  src/sccz80/ccdefs.h
  src/sccz80/codegen.c
  src/sccz80/const.c
  src/sccz80/expr.c
  src/sccz80/goto.c
  src/sccz80/plunge.c
  src/sccz80/stmt.c
  testsuite/results/8080/Issue_1531_opt_rule.opt
  testsuite/results/Issue_1015_break_with_loop_variable.opt
  testsuite/results/Issue_1015_break_without_loop_variable.opt
  testsuite/results/Issue_1016_double_const_compare.opt
  testsuite/results/Issue_1016_long_const_compare.opt
  testsuite/results/Issue_1167_choosing_which_function.opt
  testsuite/results/Issue_1167_range_check.opt
  testsuite/results/Issue_1212_double_promotion.opt
  testsuite/results/Issue_1409_switch.opt
  testsuite/results/Issue_1466_float16_callee.opt
  testsuite/results/Issue_1466_float16_compare.opt
  testsuite/results/Issue_482_optrule.opt
  testsuite/results/Issue_489_variable_defn_in_forloop.opt
  testsuite/results/Issue_569_jagged_array.opt
  testsuite/results/Issue_615_if.opt
  testsuite/results/Issue_615_loop.opt
  testsuite/results/Issue_615_while_loop.opt
  testsuite/results/Issue_678_compound.opt
  testsuite/results/Issue_701_compound_scope.opt
  testsuite/results/Issue_98_Stack_offset.opt
Labels: enhancement, sccz80

#1758 Evaluate constants in opt rules at opt time, not asm time
  lib/z80rules.0
  lib/z80rules.1
  lib/z80rules.2
  src/sccz80/codegen.c
  src/sccz80/expr.c
  src/sccz80/preproc.c
  testsuite/results/02_addr_ptr.opt
  testsuite/results/Issue_1126_opt_rule.opt
  testsuite/results/Issue_1133_bitfields.opt
  testsuite/results/Issue_1266_ranges.opt
  testsuite/results/Issue_1283_2d_arrays.opt
  testsuite/results/Issue_452_struct.opt
  testsuite/results/Issue_452_unsigned.opt
  testsuite/results/Issue_507_unnamed_structs.opt
  testsuite/results/Issue_510_long_and.opt
  testsuite/results/Issue_514_flexible_member.opt
  testsuite/results/Issue_564_casting.opt
  testsuite/results/Issue_569_jagged_array.opt
  testsuite/results/mathops_ieee.opt
Labels: bug, enhancement, sccz80

#1766 math32 - revised z80 mantissa multiplication
  libsrc/_DEVELOPMENT/EXAMPLES/benchmarks/mandelbrot/readme.txt
  libsrc/_DEVELOPMENT/EXAMPLES/benchmarks/mandelbrot/z88dk-classic/readme.txt
  libsrc/_DEVELOPMENT/EXAMPLES/benchmarks/mandelbrot/z88dk-new/readme.txt
  libsrc/_DEVELOPMENT/EXAMPLES/benchmarks/n-body/readme.txt
  libsrc/_DEVELOPMENT/EXAMPLES/benchmarks/n-body/z88dk-classic/readme.txt
  libsrc/_DEVELOPMENT/EXAMPLES/benchmarks/n-body/z88dk-new/readme.txt
  libsrc/_DEVELOPMENT/math/float/math32/readme.md
  libsrc/_DEVELOPMENT/math/float/math32/z80/f32_z80_mulu_32h_24x24.asm
  libsrc/_DEVELOPMENT/math/float/math32/z80/f32_z80_mulu_32h_32x32.asm
  libsrc/_DEVELOPMENT/math/float/math32/z80/f32_z80_mulu_de.asm
  libsrc/_DEVELOPMENT/math/float/math32/z80/f32_z80_sqr_32h_24x24.asm
  libsrc/_DEVELOPMENT/target/cpm/driver/driver.lst
  libsrc/_DEVELOPMENT/target/cpm/driver/math/math32.lst
  libsrc/_DEVELOPMENT/target/hbios/driver/driver_sccz80.lst
  libsrc/_DEVELOPMENT/target/hbios/driver/driver_sdcc_ix.lst
  libsrc/_DEVELOPMENT/target/hbios/driver/driver_sdcc_iy.lst
  libsrc/_DEVELOPMENT/target/hbios/driver/math/math32.lst
  libsrc/_DEVELOPMENT/target/rc2014/device/lut/z80/f32_z80_mulu_32h_24x24.asm
  libsrc/_DEVELOPMENT/target/rc2014/device/lut/z80/f32_z80_mulu_32h_32x32.asm
  libsrc/_DEVELOPMENT/target/rc2014/device/lut/z80/f32_z80_sqr_32h_24x24.asm
  libsrc/_DEVELOPMENT/target/rc2014/driver/driver_sccz80.lst
  libsrc/_DEVELOPMENT/target/rc2014/driver/driver_sdcc_ix.lst
  libsrc/_DEVELOPMENT/target/rc2014/driver/driver_sdcc_iy.lst
  libsrc/_DEVELOPMENT/target/rc2014/driver/math/math32.lst
  libsrc/_DEVELOPMENT/target/sms/driver/driver.lst
  libsrc/_DEVELOPMENT/target/sms/driver/math/math32.lst
  libsrc/_DEVELOPMENT/target/vgl/driver/driver.lst
  libsrc/_DEVELOPMENT/target/vgl/driver/math/math32.lst
  libsrc/_DEVELOPMENT/target/z80/driver/driver.lst
  libsrc/_DEVELOPMENT/target/z80/driver/math/math32.lst
  libsrc/_DEVELOPMENT/target/zx/driver/driver.lst
  libsrc/_DEVELOPMENT/target/zx/driver/math/math32.lst
  libsrc/z80_crt0s/newlib.lst
Labels: enhancement

#1769 zsdcc - update r12250 Version 4.1.4
  Makefile
  changelog.txt
  libsrc/_DEVELOPMENT/math/float/math32/z80/f32_z80_mulu_32h_32x32.asm
  libsrc/_DEVELOPMENT/target/rc2014/device/lut/z80/f32_z80_mulu_32h_32x32.asm
  src/zsdcc/readme.md
  src/zsdcc/sdcc-12250-z88dk.patch
  src/zsdcc/sdcc-z88dk.patch
Labels: enhancement, zsdcc
